@import "tailwindcss";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

header,
main {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  cursor: pointer;
  width: 100%;
  max-width: 1200px !important;
}

.header h1 {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  margin: 0px;
}

.headerImages {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
}

.headerImages img {
  width: 100%;
  height: 30px;
  object-fit: cover;
  object-position: center center;
}

.headerImages img:hover {
  cursor: pointer;
}

.profileIcon {
  border-radius: 100%;
}

main {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: black;
}


.mainContent{
      display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  padding: 15px 30px;
  width: 100%;
  max-width: 1200px !important;
}
.locationDiv{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.locationDiv img{
    width: auto;
    height: 50px;
    border-radius: 10px;
}

.locationDiv img, .locationDiv h2 , .locationDiv p{
    margin: 0px;
    color: white;
}

.open_close{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px 15px;
  border: 1px solid white;
  background-color: green;
}
.open_close img{
  width: atuo;
  height: 30px;
  border-radius: 100%;
  object-fit: cover;
  object-position: center center;
}
.open_close p{
  margin: 0px;
  color: white;
  font-size: 18px;
  font-weight: 500;
}

.bg_red {
  background-color: red;
}
